## ln -sf /root/zram.service /lib/systemd/system/
## systemctl daemon-reload
## systemctl start zram
[Unit]
Description=ZRAM: for user's cache & swap in RAM
#After=multi-user.target

[Service]
Type=oneshot
ExecStart=/root/zram.sh + 500 0 linux
ExecStop=/root/zram.sh -
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
