## ln -sf /opt/set-cpufreq.service /lib/systemd/system/
## systemctl daemon-reload
## systemctl start set-cpufreq
## systemctl enable set-cpufreq
## systemctl status set-cpufreq
[Unit]
Description=Set CPU Max frequency & governor
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/opt/set-cpufreq.sh

[Install]
WantedBy=multi-user.target
