export DNS_PLUGIN=dns_cf
## https://dash.cloudflare.com/profile/api-tokens
## Global API Key
#export CF_Key="XXXXXXXXXXXXXXXXXX"
#export CF_Email="xxxx@sss.com"
## Token
export CF_Token="TTTTTT"
export RELOAD_CMD=/root/acme-dns.reload.sh
export PRINT_LEVEL=3
